@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
*,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.content {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f8f8f8;
  padding: 1rem;
  .container {
    height: 100%;
    width: 100%;
  }
}
